body {
    margin: 0;
    padding: 5px;
    border: 5px solid #222;
    min-height: 419px;

    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}



nav {
    display: flex;
    gap: 5px;

    height: 43px;
}

nav a {
    width: 100px;
    height: 40px;

    border: 2px solid #444;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #0000ee;
}



h2 {
    font-size: 24px;

    margin-top: 18px;
    margin-bottom: 18px;
}




.projetos {
    display: flex;
    gap: 5px;
}

.projeto {
    width: 194px;
    height: 146px;

    border: 2px solid #444;

    padding: 0;
}



.sobre {
    margin-top: 19px;
}

.sobre h2 {
    margin-top: 0;
    margin-bottom: 18px;
}

.sobre p {
    margin-top: 0;
    margin-bottom: 16px;
}

.sobre span {
    border: 1px solid #363636;
}

footer {
    height: 48px;

    border: 2px solid #2c2929;

    display: flex;
    align-items: center;
}